<!doctype html>
<html lang="en">
  <!--  -->
  <body>
    <app-header></app-header>
    <div class="layout-holder">
      <aside class="sidemenu">
        <ul>
          <li><a href="#">Menu 1</a></li>
          <li><a href="#">Menu 2</a></li>
          <li><a href="#">Menu 3</a></li>
          <li><a href="#">Menu 4</a></li>
          <li><a href="#">Menu 5</a></li>
        </ul>
      </aside>
      <main class="main-content">
        <div class="tab-wrapper">
          <ul class="nav nav-tabs" id="mainTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="client-detail-tab" data-toggle="tab" href="#client-detail" role="tab" aria-controls="client-detail" aria-selected="true">client details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="client-transaction-tab" data-toggle="tab" href="#client-transaction" role="tab" aria-controls="client-transaction" aria-selected="false">client transaction summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="purge-tab" data-toggle="tab" href="#purge" role="tab" aria-controls="purge" aria-selected="false">purge inactive clients</a>
            </li>
          </ul>
          <div class="tab-content" id="mainTabContent">
            <div class="tab-pane fade show active" id="client-detail" role="tabpanel" aria-labelledby="client-detail-tab">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12">
                  <div class="tab-inner-content">
                    <h2>Client details</h2>
                    <div class="client-detail-nav">
                      <ul>
                        <li><a href="#basicDetails">Client basic details</a></li>
                        <li><a href="#addressDetails">address details</a></li>
                        <li><a href="#contactDetails">Contact details</a></li>
                        <li><a href="#bankDetails">Bank details</a></li>
                        <li><a href="#assignManagers">Assign managers</a></li>
                      </ul>
                    </div>
                    <section id="basicDetails" class="client-blocks">
                      <h3>Client basic details</h3>
                      <div class="row">
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Client name <sup>*</sup></label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>short name <sup>*</sup></label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Client number <sup>*</sup></label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>NAICS Code <sup>*</sup></label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Currency <sup>*</sup></label>
                            <select class="form-control">
                              <option>USD</option>
                              <option>GBP</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Parent client <sup>*</sup></label>
                            <select class="form-control">
                              <option>ABL</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Email</label>
                            <input class="form-control" type="email">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Website</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <select class="form-control">
                                  <option>https://</option>
                                  <option>http://</option>
                                </select>
                              </div>
                              <input type="text" class="form-control">
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-4 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control"></textarea>
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Company type</label>
                            <select class="form-control">
                              <option>C Corporation</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Account reference</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Credit line</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Min balance</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Origination date</label>
                            <input type="text" class="form-control date-field">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Risk rating code</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Tax ID</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Expiration date</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Term</label>
                            <input class="form-control" type="text">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Branch</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-4 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Sales region</label>
                            <select class="form-control">
                              <option>Bangalore south</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Country</label>
                            <select class="form-control">
                              <option>India</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>State / Province</label>
                            <select class="form-control">
                              <option>Karnataka</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>UCC Number</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>UCC Filling date</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                      </div>
                    </section>
                    <section id="addressDetails" class="client-blocks">
                      <h3>address details</h3>
                      <div class="row">
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Address code <sup>*</sup></label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>contact name <sup>*</sup></label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Alt. Contact name <sup>*</sup></label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>address line 1 <sup>*</sup></label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>address line 2 <sup>*</sup></label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>city <sup>*</sup></label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>State / Province <sup>*</sup></label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Country<sup>*</sup></label>
                            <select class="form-control">
                              <option>INDIA</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-xl-4 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>ZIP/Postal code <sup>*</sup></label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-12 append-clone">
                          <div class="clone-phone-field">
                            <div class="row">
                              <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                                <div class="form-group">
                                  <label>Phone type</label>
                                  <select class="form-control">
                                    <option>Business</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                                <div class="form-group">
                                  <label>Number</label>
                                  <input type="text" class="form-control">
                                </div>
                              </div>
                              <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                                <a href="#" class="clone-phone btn btn-primary">+</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <a href="#" class="btn btn-primary add-address">Add address</a>
                        </div>
                        <div class="col-12">
                          <div class="address-blocks">
                            <div class="row">
                              <div class="col-xl-4 col-md-6 col-12">
                                <div class="address-card">
                                  <div class="adress-head">
                                    <h4>Primary Address</h4>
                                    <ul class="card-action">
                                      <li><a href="#"><span class="fa fa-pencil"></span></a></li>
                                      <li><a href="#"><span class="fa fa-trash"></span></a></li>
                                    </ul>
                                  </div>
                                  <div class="address-body">
                                    <ul>
                                      <li><span>Address code </span>111</li>
                                      <li><span>Contact name </span>111</li>
                                      <li><span>Alt. Contact Name</span>111</li>
                                      <li><span>Address Line 1</span>111</li>
                                      <li><span>Address Line 2</span>111</li>
                                      <li><span>City</span>111</li>
                                      <li><span>State Province</span>111</li>
                                      <li><span>Country</span>111</li>
                                      <li><span>Zip/Postal Code</span>111</li>
                                      <li><span>Phone Number</span>111</li>
                                      <li><span>Business</span>111</li>
                                      <li><span>Mobile</span>111</li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section id="contactDetails" class="client-blocks">
                      <h3>Contact details</h3>
                      <div class="row">
                        <div class="col-xl-1 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Title <sup>*</sup></label>
                            <select class="form-control">
                              <option>Mr</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>name <sup>*</sup></label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Email <sup>*</sup></label>
                            <input type="email" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Alt. Email <sup>*</sup></label>
                            <input type="email" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-5 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Notes</label>
                            <textarea class="form-control"></textarea>
                          </div>
                        </div>
                        <div class="col-12 append-clone">
                          <div class="clone-phone-field">
                            <div class="row">
                              <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                                <div class="form-group">
                                  <label>Phone type</label>
                                  <select class="form-control">
                                    <option>Business</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                                <div class="form-group">
                                  <label>Number</label>
                                  <input type="text" class="form-control">
                                </div>
                              </div>
                              <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                                <a href="#" class="clone-phone btn btn-primary">+</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-12">
                          <a href="#" class="btn btn-primary add-contact">Add contact</a>
                        </div>
                      </div>
                    </section>
                    <section id="bankDetails" class="client-blocks">
                      <h3>Bank details</h3>
                      <div class="row">
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>Bank name</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>bank routing</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>bank account</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>remit to line 1</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>remit to line 2</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>remit to line 3</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-12">
                          <div class="form-group">
                            <label>remit to line 4</label>
                            <input type="text" class="form-control">
                          </div>
                        </div>
                        <div class="col-12">
                          <a href="#" class="btn btn-primary add-bank">Add bank</a>
                        </div>
                      </div>
                    </section>
                    <section id="assignManagers" class="client-blocks">
                      <h3>Assign managers</h3>
                    </section>
                    <div class="save-form text-right">
                      <a href="#" class="btn btn-secondary">cancel</a>
                      <a href="#" class="btn btn-primary">save</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="tab-pane fade" id="client-transaction" role="tabpanel" aria-labelledby="client-transaction-tab">2</div>
            <div class="tab-pane fade" id="purge" role="tabpanel" aria-labelledby="purge-tab">3</div>
          </div>
        </div>
      </main>
    </div>
    <!-- Optional JavaScript -->

    <!-- <script src="js/jquery.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script> -->
  </body>
</html>